.container-rent {
    padding-top: 128px;
}
.container-rent__title {
    font-family: $global--font-YandexSans-wght-900;
    line-height: 110%;
    font-size: 64px;
    padding-bottom: 96px;
    @media (max-width: 1024px) {
        font-size: 36px;
        padding: 0 3% 1% 3%;
    }
}
.container-rent__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 1024px) {
        flex-direction: column-reverse;
        align-items: center;
    }
}
.container-rent__content_info {
    @media (max-width: 1024px) {
        width: 100%;
        padding: 17px;
    }
}
.container-rent__content_info-step:nth-child(1), 
.container-rent__content_info-step:nth-child(2) {
    padding-bottom: 96px;
    @media (max-width: 1024px) {
        padding-bottom: 48px;
    }
}
.container-rent__content_info-step:nth-child(3) {
    padding-bottom: 150px;
    @media (max-width: 1024px) {
        padding-bottom: 160px;
    }
}
.container-rent__content_info-image {
    @media (max-width: 362px) {
        width: 100vw;
    }
}
.container-rent__content_info-step:nth-child(2) img {
    @media (max-width: 362px) {
        width: 35vw;
    }
}
.container-rent__content_info-text {
    font-family: $global--font-YandexSans-wght-900;
    line-height: 110%;
    font-size: 36px;
    margin-top: 32px;
    max-width: 455px;
    @media (max-width: 1024px) {
        max-width: none;
        font-size: 28px;
    }
    @media (max-width: 362px) {
        font-size: calc(var(--index) * 2.65);
    }
}
.container-rent__content_info-step:nth-child(1) .blockquote:before {  
    content: "Найдите на\00a0карте ближайшую парковку"; 
    @media (max-width: 1024px) {
        content: "Найдите на карте ближайшую парковку";
        white-space:  pre-line;
    }
} 
.container-rent__content_info-step:nth-child(2) .blockquote:before {  
    content: "В\00a0Яндекс\00a0Go\00a0нажмите кнопку Самокаты"; 
    @media (max-width: 1024px) {
        content: "В Яндекс\00a0Go нажмите кнопку Самокаты"; 
        white-space:  pre-line;
    }
} 
.container-rent__content_info-step:nth-child(3) .blockquote:before {  
    content: "Дойдите до\00a0самоката и\00a0отсканируйте QR-код на\00a0руле"; 
    @media (max-width: 1024px) {
        content: "Дойдите\Aдо\00a0самоката \Aи\00a0отсканируйте \AQR-код на\00a0руле";  
        white-space:  pre-line;
    }
} 
.container-rent__content_video {
    display: block;
    @media (max-width: 1024px) {
        display: none;
    }
}
.container-rent__content_video-mobile {
    display: none;
    @media (max-width: 1024px) {
        width: calc(100% - 6%);
        display: block;
        padding-bottom: 56px;
    }
}
.container-rent__content_curve-image {
    background-image: url('https://avatars.mds.yandex.net/get-lpc/1364677/218f6fb2-1e57-4039-8eac-f0122a8e929f/orig');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 345px;
    height: 354px;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 389px;
    @media (max-width: 1024px) {
        background-image: url('https://avatars.mds.yandex.net/get-lpc/1674605/422b7949-eebf-4909-9315-391523cd6e6b/orig');
        background-position: 50% 50%;
        width: 218px;
        height: 319px;
        left: 122px;
    };
    @media (max-width: 362px) {
        left: 16vw;
    }
}